@section Header
{
    <style>
        #_div_left {
            max-width: 100px;
            margin-left: -15px;
            margin-right: 10px;
            border-left: solid 1px red;
            border-top: solid 1px red;
            border-right: solid 1px red;
            border-bottom: solid 1px red;
            word-wrap: break-word;
        }

        #_div_right {
            width: 100%;
            margin-left: -10px;
            border-left: solid 1px red;
            border-top: solid 1px red;
            border-right: solid 1px red;
            border-bottom: solid 1px red;
            word-wrap: break-word;
        }
    </style>
}

@*--------------------------------------------------------

    Privacy 個人情報保護方針画面

--------------------------------------------------------*@

@{
    ViewData["Title"] = "個人情報保護方針";
}
<h1 class="display-4" style="font-size: 2.0rem;">@ViewData["Title"]</h1>

@section Body_Right
{
    <div id="_div_right">
        <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
    </div>
}

