@section Header
{
    <style></style>
}

@*--------------------------------------------------------

            Business.Index 仕事関連トップ画面

--------------------------------------------------------*@

@{
    ViewData["Title"] = "Business";
}

<h1 class="display-4" style="font-size: 2.0rem;">@ViewData["Title"]</h1>

@section Body_Right
{
    <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
}
