@section Header
{
    <style></style>
}

@*--------------------------------------------------------

            About.Index c-rew紹介画面

--------------------------------------------------------*@

@{
    ViewData["Title"] = "About";
}

<h1 class="display-4" style="font-size: 2.0rem;">@ViewData["Title"]</h1>

<p></p>
<div id="_div_right">
    <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
    <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
    <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
    <p>あああああああああああああああああああああああああ<br />あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
</div>
